<h1><%= @student.new_record? ? 'New Student' : 'Edit Student' %></h1>

<%= form_with  model: @student,  local:true  do |form| %>
    <div>
        <%= form.label :name%>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :course %>
        <%= form.text_field :course%>
    </div>

    <div>
        <%= form.label :dept%>
        <%= form.text_field :dept%>
    </div>

    <div>
        <%= form.label :div%>
        <%= form.text_field :div%>
    </div>

    <div>
        <%= form.label :year%>
        <%= form.text_field :year%>
    </div>

    <div>
        <%= form.label :email%>
        <%= form.text_field :email%>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>