<p> Name : <%= @student.name %> </p>

<p>Course :<%= @student.course %><br></p>

<p> Department<%= @student.dept %><br></p>

<p> Division<%= @student.div %><br></p>

<p> Year<%= @student.year %><br></p>

<p> Email<%= @student.email %><br></p>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'back' ,students_path %>